@(signupForm: Form[model.User])

@import helper._
@import helper.twitterBootstrap._

@main("Create Account") {
    
    @helper.form(action = routes.Login.submit) {
        
        <fieldset>
            <legend>Account informations</legend>
            
            <p>
                <input type="text" name="username" placeholder="Login" id="username">
            </p>
            
            <p>
                <input type="password" name="password" placeholder="Password" id="password">
            </p>
            
        </fieldset>
                
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> "You aggree the Terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Sign Up">
            <a href="@routes.Application.index">Cancel</a>
        </div>
        
    }
    
}